<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zkp.breath">

    <!--  Manifest提示GoogleAppIndexingWarning  https://www.jianshu.com/p/ba43bf1ba7c2-->

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--设计稿基准宽高-->
        <meta-data
            android:name="design_width_in_dp"
            android:value="360" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="640" />

        <activity android:name=".component.activity.ActivitySplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <activity android:name=".component.activity.EventActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <activity android:name=".component.activity.ActivityB">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <activity android:name=".component.activity.ActivityA">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <activity android:name=".component.activity.weight.ActivityCoordinator">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity android:name=".component.activity.weight.ConstraintLayoutActivity" />
        <activity android:name=".component.activity.weight.RecycleViewActivity" />
        <activity android:name=".component.activity.weight.ViewPager2Activity" />

        <activity android:name=".component.activity.mvx.MvcActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <activity android:name=".component.activity.mvx.MvpActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <activity android:name=".component.activity.mvx.MvvmActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <activity android:name=".component.activity.DatabaseActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <activity android:name=".component.activity.performance.MemoryShakeActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <activity android:name=".component.activity.performance.LeakCanaryActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <activity android:name=".component.activity.performance.BlockCanaryActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <activity android:name=".component.activity.animator.LayoutTransitionActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <activity android:name=".component.activity.animator.ViewPropertyAnimatorActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <activity android:name=".component.activity.animator.CircularRevealActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <activity android:name=".component.activity.RxJava2Activity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <activity android:name=".component.activity.androidr.ScopedStorageActivity" />

        <activity android:name=".component.activity.arouter.ARouterActivity" />
        <activity android:name=".component.activity.arouter.Test1ArouterActivity" />
        <activity android:name=".component.activity.arouter.Test2ArouterActivity" />
        <activity android:name=".component.activity.arouter.Test3ArouterActivity" />
        <activity android:name=".component.activity.arouter.Test4ArouterActivity" />
        <activity android:name=".component.activity.arouter.Test5ArouterActivity" />
        <activity android:name=".component.activity.arouter.TestWebviewActivity" />
        <activity android:name=".component.activity.arouter.SchemeFilterActivity">
            <intent-filter>
                <data
                    android:host="m.aliyun.com"
                    android:scheme="arouter" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <activity android:name=".component.activity.kotlin.CoroutinesActivity" />

        <activity android:name=".component.activity.AudioRecordActivity" />

        <service
            android:name=".component.service.IntentServiceA"
            android:exported="false" />

        <service
            android:name=".component.service.IntentServiceB"
            android:exported="false" />

        <!--exported是否允许其他进程组件调用交互，一般需要设置permission-->
        <service
            android:name=".component.service.ServiceA"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".LibraryManagerService"
            android:process=":aidl_remote" />

    </application>

</manifest>